/* ============================Telas=========================== */
.tela{
    display: none;
    
}
.ativa{
    display: block;

}

/* ============================Imagens=========================== */
.elvisIntroducao{
    width: 465px;
    height: 250px;

}

.ledZepellin_bandasClassicas{
    width: 380px;
    height: 230px;
    
}

.blackSabbath_bandasClassicas{
    width: 400px;
    height: 230px;

}

.darkmetal_metalSubgeneros{
    width: 390px;
    height: 250px;
}

.glamrock_metalSubgeneros{
    width: 400px;
    height: 250px;
}



/* ============================Layout Site=========================== */
nav .btns{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

button{
    background-color: #22333c;
    color: #c7c7c7;
    margin: 0 10px;
    padding: 5.5px 10px;
    cursor: pointer;
}

button:hover{
    background-color: #69021c;
    scale: 1.05;
    border-radius: 7px;
    
}

label{
    color: rgb(2, 38, 68);
 
}

body{ 
    background-color: #c7c7c7;
    color: rgb(2, 38, 68);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    padding: 0;
    
}

p{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0 auto;

}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: fit-content;
    margin-bottom: 10px;

}

#bow{
    color:rgb(2, 38, 68);
    border-style: double;
    border-radius: 100px;
    border-width: 5px;
    border-width: fit-content;
    text-align: center;
}

/* ============================Organização Site=========================== */
#tituloIntroducao{
    display: flex;
    flex-direction: column;
    margin-right: 950px;
    font-style: italic
    
}

#inicios.ativa{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#conteinerIntroducao{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;

}


#outlineIntroducao {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    
}

#outlineIntroducao::after{
    content: "";
    position: absolute;

    top: -6px;
    left: -6px;
    right: -22px;
    bottom: -30px;

    border: 2px solid rgb(2, 38, 68);
    pointer-events: none;

}

#biografiaElvis{
    text-align: justify;
    font-style: italic;
    width: 450px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

#tituloBiografiaElvis{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 50px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #000000;
    
}

#colunaTextoIntroducao{
    display: flex;
    flex-direction: column;
    width: 675px;
    gap: 30px;
    margin-bottom: 80px;
    
}

#textoInicio{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    margin-right: 60px;
    width: 585px;
  
}

#textoInicio2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-right: 60px;
    width: 585px;
       
}

#conteinerBandasClassicas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-top: 20px;

}

#conteinerMetalESeusSubgeneros a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;

}

#outlineBandasClassicas{
    position: relative; /*conecta o outline a imagem. sem isso o outline ficaria solto pelo site.*/
    display: inline-block; /*o "a" é inline(não possibilita mudar largura e altura, o inline block desfaz isso.*/
    padding-bottom: 250px;

}

/*a expressão "after" dessa ID é uma forma de dar diferentes
 propriedades para a ID, como tamanho do offset.*/
#outlineBandasClassicas::after{
    content: ""; /*necessário para o after funcionar*/
    position: absolute; /*permite que o objeto permaneça flutuando ao lado do card pai, usando também do position: relative.*/
    
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -15px;
    
    border: 2px solid rgb(2, 38, 68);
    pointer-events: none; /*impossibilita o outline de ser clicado.*/
}

#textoBandasClassicas{
    justify-content: center;
    text-align: justify;
    width: 450px;

}

#textoMetalESeusSubgeneros{
    width: 450px;

}