nav .btns{
      width: fit-content;
    margin: 60px auto;
    border-style: groove;
     margin-bottom: 20px;
    margin-top: 20px;
}

button{
background-color: #22333c;
color: aliceblue;
margin: 0 10px;
padding: 5.5px 10px;
cursor: pointer;
}

button:hover{
    background-color: #69021c;
    scale: 1.05;   
    border-radius: 7px;
}

h1{
    text-align: center;
    border-style: double ;
    border-radius: 10px;
}

h2{
    text-align: center;
    border-bottom-style:double ;
}

body{

    background-color: #c7c7c7;
     color: rgb(2, 38, 68);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    
}
output{
    color: rgb(230, 63, 63);
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    
}
