nav .btns{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

button{
background-color: #22333c;
color: #c7c7c7;
margin: 0 10px;
padding: 5.5px 10px;
cursor: pointer;
}
button:hover{
    background-color: #69021c;
    scale: 1.05;
    border-radius: 7px;
    
}

body{ 
    background-color: #c7c7c7;
    color: rgb(2, 38, 68);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    padding: 0;
    
}

p{
    color: rgb(0, 23, 43);
    width: 500px;
    text-align: center;
    margin: 0 auto;
}
h2{
color: rgb(2, 38, 68);
text-align: center;
border-bottom-style: solid;
border-bottom-width: fit-content;
margin-bottom: 10px;

}

h1{
    color:rgb(2, 38, 68);
    border-style: double;
    border-radius: 100px;
    border-width: 5px;
    border-width: fit-content;
    text-align: center;
}

label{
 
    color: rgb(2, 38, 68);
}

.tela{
    display: none;
}
.ativa{
    display: block;
}

a{
    color: #c7c7c7;
    border-bottom-style: outs;
}
