button{
background-color: #22333c;
color: aliceblue;
border-left-color: aqua;
border-right-color: aqua;
border-radius: 10%;

}

body{ 

    background-color: #22333b;
    

}
p{
    color: aliceblue;
}
h2{
color: rgb(191, 225, 253);
}
h1{
    color:rgb(191, 225, 253);
    border-style: double;

}
label{
    
    color: aliceblue;
    list-style: circle;
}
