.btns{
    width: fit-content;
    margin: 0 auto;
}
.btns2{
    width: fit-content;
    margin: 0 auto;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("Captura_de_tela_2026-05-08_002259.png");
    background-color: aliceblue;
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}

h3{
    text-align: center;
}
output{
    width: fit-content;
    margin: auto;
    text-align: center;
    border-style: ridge;
    border-radius: 1000px;
    background-color: aliceblue;
}