* {
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: aliceblue;

}

.cenario{
    width: 800px;
    height: 600px;
    margin: calc(50vh - 300px) auto 0;
    border: 6px solid aliceblue;
    position: relative;
    overflow: hidden;
}

.marcador{
    font-family: monospace;
    font-size: 150px;
    text-align: center;
    line-height: 1;

    width: 200px;
    position: absolute;
    top: 40px;
}

.marcador1{
    left: 100px;
}

.marcador2{
    right: 100px;
}

.pala{
    width: 14px;
    height: 100px;
    background-color: aliceblue;
    position: absolute;
    bottom: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;
}

.pala1{
    left: 40px;
}
.pala2{
    left: 760px;
}

.rede{
   position: absolute;
   top: 0;
   bottom: 0;
   left: calc(50% - 3px);
   border-width: 0px;
   border-left: 6px dotted aliceblue;
}

.bola{
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 300px;
    left: 400px;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    background-image: url("bola.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    z-index: 3;

}

.btns{
    width:fit-content;
    margin: 0px auto;
    bottom: 200px;
}
button{
    margin: 0 10px;
padding: 20px 30px;
cursor: pointer;
text-transform: uppercase;
}
button:hover{
        background-color: #ffceda;
    scale: 1.10;
    border-radius: 7px;
    
}

.personaje{

    position: absolute;

    width: 128px;
    height: 128px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    image-rendering: pixelated;

    pointer-events: none;

    z-index: 1;

}

/* IZQUIERDA */

.personaje1{

    left: 20px;

    background-image: url("personaje1.png");

}

/* DERECHA */

.personaje2{

    right: 20px;

    background-image: url("2personaje1.png");

}